html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: Pretendard-Medium;
}

html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration-line: none;
    color: white;
}

header {
    height: 120px;
    display: flex;
    position: sticky;
    top: 0;
    background-color: #bbdefb;
}

.navigation-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    margin-bottom: 0;
}

.navigation-bar-icon {
    font-size: 20px;
    font-family: Pretendard-SemiBold;
}

.navigation-bar-menu {
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;
}

.navigation-bar-menu li {
    margin: 40px;
    display: inline-block;
    background-color: transparent;
}

.round-image {
    width: 24px;
    height: 24px;
    border-radius: 6px;
}

.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
}